@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --darkTheme01: #101010;
  --darkTheme02: #151515;
  --darkTheme03: #1a1a1a;
  --darkTheme04: #1e1e1e;
  --darkTheme05: #242424;
  --darkTheme06: #3c3c3c;
  --darkTheme07: #858585;
  --darkTheme08: #dedede;

  --lightTheme01: #ffffff;
  --lightTheme02: #e9e7e4;
  --lightTheme03: #aeaeae;
  --lightTheme04: #8d8d8d;
  --lightTheme05: #525252;
  --lightTheme06: #313131;
  --lightTheme07: #212121;
  --lightTheme08: #161616;
}

main {
  min-height: calc(100vh - 40px);
}

body {
  font-family: 'Inter';
}

:where(h1, h2, h3, h4, h5, h6) {
  font-family: 'Oxygen';
  font-weight: light;
}

p,
nav li {
  font-family: 'Lato';
}

.font-lato {
  font-family: 'Lato';
}

@keyframes EarthSpin {
  from {
    background-position-x: -200%;
  }
  to {
    background-position-x: 258%;
  }
}

.earth-spin {
  background-image: url('/earth.png');
  background-size: cover;
  background-repeat: repeat-x;

  animation-name: EarthSpin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
